<a href="https://colab.research.google.com/github/sajid-the-data-guy/Libraries_DS/blob/main/Pandas_lib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Important things to learn in pandas


1. 
2.

# Data-set is on new-york weather

In [2]:
#importing the library
import pandas as pd
data = pd.read_csv('/content/New_york_wheather_data.csv')
print(data)

           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0   01-01-2016           38        23        52                 30.03
1   01-02-2016           36        18        46                 30.02
2   01-03-2016           40        21        47                 29.86
3   01-04-2016           25         9        44                 30.05
4   01-05-2016           20        -3        41                 30.57
5   01-06-2016           33         4        35                 30.50
6   01-07-2016           39        11        33                 30.28
7   01-08-2016           39        29        64                 30.20
8   01-09-2016           44        38        77                 30.16
9   01-10-2016           50        46        71                 29.59
10  01-11-2016           33         8        37                 29.92
11  01-12-2016           35        15        53                 29.85
12   1/13/2016           26         4        42                 29.94
13   1/14/2016           30        12        47                 29.95
14   1/15/2016           43        31        62                 29.82
15   1/16/2016           47        37        70                 29.52
16   1/17/2016           36        23        66                 29.78
17   1/18/2016           25         6        53                 29.83
18   1/19/2016           22         3        42                 30.03
19   1/20/2016           32        15        49                 30.13
20   1/21/2016           31        11        45                 30.15
21   1/22/2016           26         6        41                 30.21
22   1/23/2016           26        21        78                 29.77
23   1/24/2016           28        11        53                 29.92
24   1/25/2016           34        18        54                 30.25
25   1/26/2016           43        29        56                 30.03
26   1/27/2016           41        22        45                 30.03
27   1/28/2016           37        20        51                 29.90
28   1/29/2016           36        21        50                 29.58
29   1/30/2016           34        16        46                 30.01
30   1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241

In [5]:
#what is the maximum temperature
data['Temperature'].max()

50

In [6]:
#finding the minimum temperature
data['Temperature'].min()

20

In [18]:
#finding the dates when its rains
rain = data['EST'][data['Events']== 'Rain']
print(rain)

8     01-09-2016
9     01-10-2016
15     1/16/2016
26     1/27/2016
Name: EST, dtype: object

In [77]:
#filling the null value as 0 in the hole dataset
munging= data.fillna(0, inplace = True)

print(munging)

None

In [33]:
#filling the particular column null value as 0
df = data['WindSpeedMPH'].fillna(0, inplace=True)
print(df)

None

In [34]:
#finding the mean for the WindSpeedMPH
mw = data['WindSpeedMPH'].mean()
print(mw)

6.225806451612903

# pandas session 2 

## TOPICS
1. creating dataframe
2. dealing with rows and columns
3. Operations: min, max, std, describe
4. conditional selection
5. set_index

In [37]:
df = pd.read_csv('/content/mnist_test (1).csv')
print(df)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [39]:
df['day'][df['event' ]== 'Rain']

0    01-01-2017
4    01-05-2017
Name: day, dtype: object

In [40]:
#finding the dimension of the dataframe
df.shape

(6, 4)

In [42]:
rows,columns =df.shape

In [43]:
rows

6

In [45]:
columns

4

In [47]:
#printing the head of the data set
df.head()

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [50]:
#printing the tail of the data set it will print last 5 rows from the data set
df.tail()

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [56]:
#priting the row 2 to 5 
df[2:5]

          day  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow
4  01-05-2017           32          4  Rain

In [58]:
#print to 3 to end 
df[2: ]

          day  temperature  windspeed  event
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [59]:
#to find how many column contains the dataset contains
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [64]:
#TO PRINT PARTICULAR COLUMN
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [66]:
type(df)

pandas.core.frame.DataFrame

In [68]:
#printing particular columns
df[['day', 'temperature']]

          day  temperature
0  01-01-2017           32
1  01-02-2017           35
2  01-03-2017           28
3  01-04-2017           24
4  01-05-2017           32
5  01-06-2017           31

In [69]:
# finding the max, min, std(standard deveation) and mean of the temperature
df['temperature'].max()

35

In [71]:
df['temperature'].min()

24

In [73]:
df['temperature'].mean()

30.333333333333332

In [75]:
df['temperature'].std()

3.8297084310253524

In [76]:
#printing the statistics of ur dataset
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [84]:
#CONDITION SELECTION
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
4  01-05-2017           32          4   Rain

In [106]:
#index in pandas
df.set_index('day', inplace=True)

In [107]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  Sunny
01-03-2017           28          2   Snow
01-04-2017           24          7   Snow
01-05-2017           32          4   Rain
01-06-2017           31          2  Sunny

In [108]:
df.loc['01-01-2017']

temperature      32
windspeed         6
event          Rain
Name: 01-01-2017, dtype: object

In [105]:
#reset index
df.reset_index(inplace=True)